# # =========================
# # Python
# # =========================
# __pycache__/
# *.py[cod]
# *.pyo
# *.pyd

# # =========================
# # Virtual environments
# # =========================
# env/
# venv/
# .venv/

# # conda (IMPORTANT)
# .conda/
# conda-meta/
# miniconda3/
# anaconda3/

# # =========================
# # Jupyter
# # =========================
# .ipynb_checkpoints/

# # =========================
# # VSCode / IDE
# # =========================
# .vscode/
# .idea/

# # =========================
# # OS files
# # =========================
# .DS_Store
# Thumbs.db

# # =========================
# # Logs
# # =========================
# logs/
# *.log
# runs/
# outputs/

# # =========================
# # ML / DL models
# # =========================
# *.pt
# *.pth
# *.ckpt
# *.onnx
# *.h5

# # =========================
# # Datasets (按需使用)
# # =========================
# data/
# dataset/
# datasets/
# *.nii
# *.nii.gz
# *.png
# *.jpg
# *.jpeg
# *.bmp
# *.tif

# # =========================
# # Temporary files
# # =========================
# *.tmp
# *.swp

# # =========================
# # Cache
# # =========================
# .cache/
# *.cache